---
import SiteFooter from '../components/SiteFooter.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Layout from '../layouts/Layout.astro';
import AboutSection from '../sections/about/AboutSection.astro';
import ContactSection from '../sections/contact/ContactSection.astro';
import HeroSection from '../sections/hero/HeroSection.astro';
import ProcessSection from '../sections/process/ProcessSection.astro';
import ProjectsSection from '../sections/projects/ProjectsSection.astro';
import StackSection from '../sections/stack/StackSection.astro';
---

<Layout>
  <SiteHeader />
  <main>
    <HeroSection />
    <ProjectsSection />
    <ProcessSection />
    <StackSection />
    <AboutSection />
    <ContactSection />
  </main>
  <SiteFooter />
</Layout>
